<div class="container">


  <div class="left-column">

    <p style="font-weight: bold">Rango de fechas</p>

    <p-calendar
      class="max-w-full"
      [(ngModel)]="selectedDateRange"
      [inline]="true"
      [minDate]="tomorrowDate"
      selectionMode="range"
      [disabledDays]="weekends"
      [disabledDates]="holidays">
    </p-calendar>

    <p style="font-weight: bold">Jornada</p>

    <p-dropdown [options]="schedules" [(ngModel)]="selectedSchedule" optionLabel="name"></p-dropdown>

  </div>


  <div class="middle-column">

    <p style="font-weight: bold">Contratistas disponibles</p>

    <p-table [value]="availableContractors" selectionMode="single" [(selection)]="selectedContractor" dataKey="userId" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Identificación</th>
              <th>Nombre Completo</th>
              <th>Email</th>
              <th>Rol</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contractor>
          <tr [pSelectableRow]="contractor">
              <td>{{contractor.identificationNumber}}</td>
              <td>{{contractor.firstName}} {{contractor.lastName}}</td>
              <td>{{contractor.email}}</td>
              <td>{{contractor.role.roleId}}</td>
          </tr>
      </ng-template>
    </p-table>

  </div>


  <div class="right-column">
    <p style="font-weight: bold">Vista previa</p>
  </div>


</div>
