.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.left-column {
  flex: 1;
  margin: 0px 10px;
}

.middle-column {
  flex: 2;
  margin: 0px 10px;
}

.right-column {
  flex: 1;
  margin: 0px 10px;
}

:host ::ng-deep .p-dropdown {
  width: 320px;
}

:host ::ng-deep .p-card{
  width: 320px;
}
