<p-toast></p-toast>

<div class="container">


  <div class="left-column">

    <p style="font-weight: bold">Seleccione un contratista</p>

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        #txtInput
        type="text"
        pInputText
        (keyup)="getContractorsByIdentificationNumberLike(txtInput.value)"
        placeholder="Número de identificación"
      />
    </span>

    <br>
    <br>

    <p-listbox
      [options]="contractors"
      [(ngModel)]="selectedContractor"
      [style]="{ width: '320px' }"
      [listStyle]="{'height': '220px'}"
      (onClick)="getWorkShiftsByUserIdAndDateRange()"
      *ngIf="contractors.length > 0"
    >

      <ng-template let-contractor pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{contractor.identificationType.code}} {{contractor.identificationNumber}}</div>
        </div>
      </ng-template>

    </p-listbox>

    <br>
    <br>

    <p-card *ngIf="selectedContractor">

      <p style="font-weight: bold">Contratista seleccionado</p>

      <hr>

      <p class="m-0">
        <span style="font-weight: bold" >Identificación: </span>
        {{selectedContractor.identificationType.code}} {{selectedContractor.identificationNumber}}
      </p>

      <p class="m-0">
        <span style="font-weight: bold" >Nombre: </span>
        {{selectedContractor.firstName}} {{selectedContractor.lastName}}
      </p>

      <p class="m-0">
        <span style="font-weight: bold" >Email: </span>
        {{selectedContractor.email}}
      </p>

      <p class="m-0">
        <span style="font-weight: bold" >Rol: </span>
        {{selectedContractor.role.name}}
      </p>

    </p-card>

  </div>


  <div class="middle-column">

    <p style="font-weight: bold">Turnos asignados</p>

    <full-calendar [options]="calendarOptions"></full-calendar>

  </div>


  <div class="right-column">

    <div *ngIf="selectedWorkShift">

      <p style="font-weight: bold">Ampliar horario</p>

      <p-messages
        [(value)]="scheduleExtensionAlreadyExists"
        [enableService]="false"
        [closable]="false"
        *ngIf="selectedWorkShift.scheduleExtensions.length > 0"
      ></p-messages>

      <p-card *ngIf="selectedWorkShift.scheduleExtensions.length == 0">

        <p style="font-weight: bold">Hora de inicio</p>
        <p-inputMask
          mask="99:99"
          [style]="{ width: '278px' }"
          [(ngModel)]="startTime"
          placeholder="HH:MM"
        ></p-inputMask>

        <p style="font-weight: bold">Hora de finalización</p>
        <p-inputMask
          mask="99:99"
          [style]="{ width: '278px' }"
          [(ngModel)]="endTime"
          placeholder="HH:MM"
        ></p-inputMask>

        <p style="font-weight: bold">Razón</p>
        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="reason" [autoResize]="true" maxlength="500"></textarea>

        <br>
        <br>

        <p-button
          label="Asignar"
          [loading]="loading"
          [disabled]="(startTime && endTime && reason) ? false: true"
          (onClick)="extendSchedule()"
        ></p-button>

      </p-card>

    </div>

  </div>


</div>
